<!doctype html>

<html>

<head>
	<title>{% block title %}{% endblock %} - Fragmented Development</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/css/layout.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
{% block head %}{% endblock %}
</head>

<body>
	<a href="#content" class="a11y-link">Skip to content</a>
	<header class="header">
		<div class="site-title">
			Fragmented Development
		</div>
		<nav>
			<ul class="nav boxy">
				<li><a class="nav-item" href="{% url 'about' %}>About</a></li>
				<li><a class="nav-item" href="{% url 'wiblog:index' %}>Blog</a></li>
				<li><a class="nav-item" href="{% url 'contact' %}>Contact</a></li>
				<li><a class="nav-item" href="{% url 'projects' %}>Projects</a></li>
				<li><a class="nav-item" href="{% url 'hire' %}>Hire</a></li>
			</ul>
		</nav>
	</header>

	<section class="content boxy" id="content">
		{% block content %}
		{% endblock %}
	</section>
	<nav>
		<ul class="nav">
			<li><a class="nav-item" href="{% url 'about' %}>About</a></li>
			<li><a class="nav-item" href="{% url 'wiblog:index' %}>Blog</a></li>
			<li><a class="nav-item" href="{% url 'contact' %}>Contact</a></li>
			<li><a class="nav-item" href="{% url 'projects' %}>Projects</a></li>
			<li><a class="nav-item" href="{% url 'hire' %}>Hire</a></li>
		</ul>
	</nav>
	<footer>
		© 2016, Jacob Hume. The CSS/HTML/JS is released under <a href=
		"https://www.gnu.org/licenses/agpl.html">AGPLv3</a>. The typeface is <a
		href="https://www.google.com/fonts/specimen/Roboto">Roboto</a>, by
		Christian Robertson.
	</footer>
</body>

</html>
