{% extends "base-about.html" %}

{% block title %}About Jacob Hume{% endblock %}

{% block about %}
			<section id="about">
				<h1>About me</h1>
				<p>
					Hi - I'm a {{ age }}-year-old guy (refresh the page-that number should be updated every
					second) living in a woodsy cabin just outside of Point Arena, California.
				</p>
				<p>
					I dig <a href="http://littlegreenbeanroastery.com/">coffee</a>, <a href=
					"http://www.gnu.org/philosophy/free-sw.html">Free software</a>, and <a
					href="http://minecraft.net">Minecraft</a>. My key ID is <a
					href="/misc/windigo-public.asc"><code>0xDAECFD4CBCC76ED6</code></a>.
				</p>
			</section>
{% endblock %}
