{% extends "base-about.html" %}

{% block title %}Skills{% endblock %}

{% block about-content %}
			<h1>Skills</h1>
			<p>
				I've been a web developer since a friend advised me that the
				best program for making a website was "notepad". Once I started
				learning, I was hooked.
			</p>
			<article class="skills-list">
				<h2>I speak the following "Languages"</h2>
				<ul>
					<li>HTML</li>
					<li>CSS</li>
					<li>PHP</li>
					<li>SQL</li>
					<li>Javascript
						<ul>
							<li>jQuery</li>
							<li>nodeJS (a bit)</li>
						</ul>
					</li>
					<li>Python</li>
					<li>Ruby (A bit)</li>
				</ul>
			</article>
			<article class="skills-list">
				<h2>I have experience with this software</h2>
				<ul>
					<li>Linux servers, specifically Debian/Ubuntu</li>
					<li>Apache</li>
					<li>Relational SQL Servers
						<ul>
							<li>MySQL</li>
							<li>PostgreSQL</li>
							<li>Microsoft SQL Server</li>
						</ul>
					</li>
					<li>Git version control</li>
				</ul>
			</article>
{% endblock %}
