{% extends "base-single.html" %}

{% block title %}About Jacob Hume{% endblock %}

{% block page %}
			<section class="profile">
				<h1>About Jacob Hume</h1>
				<ul class="about-nav">
					<li><a href="/about/about">About Me</a></li>
					<li><a href="/about/skills">Skills</a></li>
					<li><a href="/about/employment">Employment</a></li>
					<li><a href="/about/portfolio">Portfolio</a></li>
					<li><a href="/about/education">Education</a></li>
				</ul>
			</section>
	{% block about-content %}
			<section class="c">
				<figure class="profile-pic-frame">
					<img alt="An illustration of Windigo, sitting with a plate of cookies, gesticulating"
						src="/img/windigo.jpg" class="profile-img">
					<figcaption class="profile-caption">
						illustration by Anne Hoffer
					</figcaption>
				</figure>
				<figure class="profile-pic-frame">
					<img alt="A photograph of Jake, sitting in a park with a cup of tea"
						src="/img/jake.png" class="profile-img">
					<figcaption class="profile-caption">
						photo also by Anne Hoffer
					</figcaption>
				</figure>
			</section>
	{% endblock %}
{% endblock %}
