{% extends "base-about.html" %}

{% block title %}Employment History{% endblock %}

{% block about-content %}
			<h1>Employment</h1>
			<p>
				I have a long history in web development,
			</p>
			<p>
				My primary career was managing the web infrastructure for <a
				href="http://warrencountyny.gov">Warren County</a>, a medium-sized
				local government. This experience ingrained the principles of efficiency
				and scalability, and gave me a great respect for well structured code
				and markup. We were forced to make due with aging hardware while meeting
				increasing demands from both the public and internal departments, which
				created some extremely interesting challenges!
			</p>
			<p>
				After leaving my position with 
				 to make a move to California, I'm currently a <strong>part-time
				consultant</strong>, and looking for a more permanent position.
			</p>
			<ul>
				<li>
					<strong>Freelance/Consulting:</strong> 2002 to Present
					<ul>
						<li>
							Creation of sites based on information provided, usually including hosting and DNS
							management. Examples: <a href="http://valcielle.fragdev.com">Val'cielle</a> (web comic
							management system), <a href="http://lenasads.com">Lenas' Adult Day Service</a>
						</li>
						<li>
							Consulting with organizations to keep existing websites current and
							add new features as necessary. <a href="http://warrencountyny.gov">Warren
							County, NY</a>, <a href="http://warrenny200.org">Warren County
							Bicentennial</a>
						</li>
						<li>
							Installation and maintenance of applications hosted on FragDev
							servers
						</li>
					</ul>
				</li>
				<li>
					<strong>Web/Intranet Developer:</strong> Warren County, NY, 2004 to 2013
					<ul>
						<li>Responsibilities: Develop and maintain any and all internal and external County web
						sites, set up and secure web servers, handle help desk calls as needed</li>
						<li>Examples: <a href="http://warrencountyny.gov">Warren County, NY</a>, <a href=
						"http://warrenny200.org">Warren County Bicentennial</a>, <a href=
						"http://www.firstwilderness.com">First Wilderness Heritage Corridor</a></li>

Through my freelancing and personal/open source projects, I've had additional experience with many different platforms, languages, and development methodologies. I'm very well-versed in source control (primarily git) and working remotely with team members. On every project, both at Warren County and other projects, I've become accustomed to working with many different people with different interest and goals. I've been able to balance the needs of many different parties and keep everyone satisfied while projects are completed in an order that makes the most sense for everyone involved.
						</ul>
					</li>
				</ul>
			</section>
{% endblock %}
