{% extends "base-about.html" %}

{% block title %}My Education{% endblock %}

{% block about-content %}
			<h1>Education</h1>
			<p>
				I am largely a self-taught web developer. After becoming interested in
				the web during the late nineties, I quickly jumped into HTML and the
				beginnings of CSS. After surviving the whirlwind days of table layouts
				and IE6 dominance, I went to college.
			</p>
			<p>
				I earned my degree in networking at <a href="http://sunyacc.edu">SUNY
				Adirondack</a> in 2006. The networking program gave me a deep
				understanding of how the web and HTTP works at the network level, and
				introduced me to programming and PHP.
			</p>
			<p>
				While in college, I took an internship at <a
					href="http://warrencountyny.gov">Warren County, NY</a> and was
				hired as their first web developer. Building out their web
				infrastructure and handling the challenges related to operating
				a government website; accessibility, limited resources, and a
				vast collection of slowly moving content. Helping the County manage
				its web presence during evolutions in HTML, CSS, not to mention
				browsers and hardware has kept me on my toes!
			</p>
			<p>
				Lately, I have been expanding my repertoire of languages by learning
				Python, Ruby, and strengthening my knowledge of Javascript by trying
				NodeJS.
			</p>
{% endblock %}
