{% extends "base-single.html" %}

{% block page %}
	<section class="page-content" id="content">
		{% block content %}
			<h1>Welcome To Fragmented Development!</h1>
			<p>
				There are several different services and components comprising FragDev:
			</p>
			<dl>
				<dt>Mumble<br>(mumble.fragdev.net)</dt>
				<dd>
					Mumble is a voice chat server. It's a great way to talk to several
					people at once, have a one-on-one chat, or record that episode
					of <a href="http://hackerpublicradio.org/">Hacker Public Radio</a>
					that you owe to Ken Fallon.
				</dd>
				<dt>
					<a href="http://micro.fragdev.com">Status.net</a>
				</dt>
				<dd>
					Status.net is twitter, without all the exclusion and proprietary
					bits! In addition, it's federated - so users on our Status.net
					instance can send messages to users on other independent instances.
				</dd>
				<dt>
					<a href="http://links.fragdev.com">SemanticScuttle</a>
				</dt>
				<dd>
					A social bookmarking application, SemanticScuttle is very similar
					to Del.icio.us &mdash; before the remake.
				</dd>
				<dt>
					<a href="http://ttrss.fragdev.com">Tiny Tiny RSS</a>
				</dt>
				<dd>
					A very functional, lightweight <abbr title=
					"really simple syndication">RSS</abbr> reader with a few extra social
					functions. If you like Google Reader, you should give TTRSS a try.
				</dd>
				<dt>
					<a href="http://webmail.fragdev.com">Roundcube</a>
				</dt>
				<dd>
					A smooth, simple webmail interface, Roundcube is a great web-based
					IMAP email client. It can be used as an interface to any IMAP
					server, but on FragDev it talks to Dovecot and Postfix.
				</dd>
			</dl>
		{% endblock %}
	</section>
	<section class="page-ancillary">
		{% block ancillary %}
		<h1>What is FragDev?</h1>
		<p>
			<em><q>Fragmented Development</q></em>, abbreviated <em>FragDev</em>, summarizes the
			nature of web development. Many disparate technologies make today's web, and this variety
			makes development both challenging and enjoyable.
		</p>
		<p>
			It's also where <strong>Jacob Hume</strong>, a web developer and Free Software
			enthusiast, puts apps and files. On the internet, he is usually found under the username
			<strong>Windigo</strong>.
		</p>
		<h2>Support Fragdev</h2>
		<p>
			Do you use a FragDev service, and desire to give back? Donate to a software project! We
			wouldn't be around without them.
		</p>
		<p>
			<em>Still not enough?</em> If you really feel the need to chip in for the cost of running the server,
			feel free to Flattr us. All proceeds will go towards server costs and improvements.
		</p>
		<p class="c">
			<script id='fbd67li'>(function(i){var
				f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=windigo&button=compact&url=http%3A%2F%2Ffragdev.com';f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbd67li');</script>
			<noscript>
				<a href="https://flattr.com/submit/auto?user_id=windigo&url=http%3A%2F%2Ffragdev.com"><img
					src="/img/flattr-badge-large.png" alt="Flattr this"
					title="Flattr this"></a>
			</noscript>
		</p>
		{% endblock %}
	</section>

{% endblock %}
