{% extends "layout.html" %}

{% block title %}Services{% endblock %}

{% block content %}
			<h1>Services</h1>
			<p>
				
			</p>
			<h2>Basic Informational Websites</h2>
			<p>
				A basic website, custom designed for your business or organization.
				Informational websites contain information that does not change
				frequently. These websites often contain:
			</p>
			<ul>
				<li>Explanations of what your business/organization does</li>
				<li>Hours of operation</li>
				<li>Address and directions</li>
				<li>Contact information and/or a contact form</li>
				<li>
					Simple "product" information
					<ul>
						<li>Restaurant menus</li>
						<li>Programming offerings or available services</li>
						<li>Brands carried</li>
					</ul>
				</li>
				<li>Staff or faculty listing</li>
			</ul>
			<h2>Dynamic Websites</h2>
			<p>
				If your organization has a need for a website with fast-moving content,
				we can help. Whether your website needs a few dynamic pages, or you
				require a full content management system, we can provide an easy to use
				way to keep your own website up to date. Features of dynamic websites
				include:
			</p>
			<ul>
				<li>Organizational or specialized blogs</li>
				<li>Photo galleries with user submissions</li>
				<li>Product catalogs that change frequently</li>
				<li>Shopping Carts</li>
				<li>User comments</li>
				<li>Pages can be changed, added or removed easily</li>
			</ul>
			<h2>Custom Development</h2>
			<p>
				We have experience developing in several languages and frameworks. If
				you require a custom plugin for your <abbr title=
				"content management system">CMS</abbr>, web integration with legacy
				in-house software, or features added to an open source project that your
				organization uses, we can help.
			</p>
{% endblock %}

{% block ancillary %}
			<h1>Free Consultation</h1>
			<p>
				If you are unsure of what you need, or you need clarification regarding
				the services we offer, please <a href="{% url 'contact' %}">contact
				us</a> for a free consultation. When in doubt, get in touch; it can't
				hurt to ask!
			</p>
			<p>
				After a consultation, we can provide quotes or estimates for projects if desired.
			</p>
{% endblock %}
