{% extends "layout.html" %}
{% block title %}Contact Me{% endblock %}
{% block content %}
		<header class="content-header">
			<h1>Contact Me</h1>
			<p>
				I accept questions, comments, or ASCII art postcards.
			</p>
		</header>
		<main>
			<h1>Email</h1>
			<p>
				You can email me at <span id="contact-email" data-user="jacob"
					data-domain="fragdev.com">jacob, the at symbol, then
					fragdev dot com</span>. I accept
				encrypted emails: you can use <a href="/static/misc/windigo-public.asc"
				>my public key</a> (<strong><code>0xDAECFD4CBCC76ED6</code></strong>).

			</p>
			<h1>Other</h1>
			<p>
				I prefer email. If you have my phone number, I accept phone
				calls, but not texts. If you happen to find me in California,
				feel free to say hello.
			</p>
			<p>
				I very occasionally log onto <a href="https://libera.chat">libera.chat</a>.
			</p>
			<p>
				I don't use any social media, and nobody else should either.
			</p>
		</main>
		<script language="javascript">
            const emailSpan = document.getElementById('contact-email');
            const address = emailSpan.dataset.user + '@' +
                emailSpan.dataset.domain;

            emailSpan.innerHTML = '<a href="mailto:' + address + '">' + address
                + '</a>';
        </script>
{% endblock %}
