{% extends "base.html" %}

{% block title %}Jacob Hume{% endblock %}

{% block content %}
		<header class="content-header">
			<h1>Jacob Hume</h1>
			<p>
				A web developer focused on progressive enhancement, performance,
				usability, and <abbr title="free libre open source software">FLOSS</abbr> software
			</p>
		</header>
		<aside>
			<p>
				I'm currently looking for full-time employment or contract work.
				Feel free to <a href="{% url 'contact' %}">contact me</a>!
			</p>
		</aside>
		<h2>Web Development Skills</h2>
		<p>
			I have many public examples of my work and contributions listed on
			the <a href="{% url 'contact' %}">Projects</a> page and social coding
			sites like <a href="https://github.com/lo-windigo">GitHub</a> and
			<a href="https://gitlab.com/u/windigo">Gitlab</a>.
		</p>
		<ul>
			<li>
				<strong>Python:</strong> Five years of experience using Python
				with WSGI and web frameworks like Django (including Oscar
				Commerce, Mezzanine) and Flask
			</li>
			<li>
				<strong>PHP:</strong> Ten years of experience writing custom
				PHP applications, including:
				<ul>
					<li>
						A framework to support a site with thousands of pages
						and dozens of related but independent layouts
					</li>
					<li>
						Integrating external systems and data sources, some
						without APIs
					</li>
				</ul>
			</li>
			<li>
				<strong>SQL:</strong> Twelve years of experience writing SQL
				for different database variants, such as (in order of
				familiarity): MySQL/MariaDB, Microsoft SQL Server, Postgres,
				and SQLite
			</li>
			<li>
				<strong>HTML:</strong> Twenty years of using the latest HTML
				techniques to create usable, accessible, fast and light pages.
				Very familiar with responsive/progressive design techniques
			</li>
			<li>
				<strong>CSS:</strong> Twenty years of experience writing CSS in
				a modular, reusable fashion, with performance and speed as
				priorities
			</li>
		</ul>
		<h2>Server Skills</h2>
		<p>
			I have years of experience running my own servers and managing
			networks, including the following:
		</p>
		<ul>
			<li>
				<strong>Server Software:</strong> Nginx, MariaDB and MySQL,
				Postgres, Postfix, Dovecot, SpamAssassin, SQLite, UWSGI
			</li>
			<li>
				<strong>Linux Platform:</strong> Primarily Debian and
				Ubuntu systems
			</li>
			<li>
				<strong>Configuration Management:</strong> Experience
				automating and deploying servers across different cloud
				providers with Ansible
			</li>
		</ul>
		<h2>Work Experience</h2>
		<ul>
			<li>
				<p>
					<strong>Freelance/Consulting:</strong> 2002-Present
				</p>
				<p>
					The majority of my consulting has been web design and development, from simple static sites to full e-commerce solutions, for which I provide hosting and email services.
				</p>
				<p>
					I have also provided general technical support for businesses like Sea Ranch Vacation Rentals and Capital North Advisors, working directly with users.
				</p>
			</li>
			<li>
				<p>
					<strong>Instructor:</strong> Arena Tech Center, 2014-2016
				</p>
				<p>
					Instructors assisted visitors (from children to seniors) in utilizing technology;  computers, printers, software, and a recording studio with mixing board.
				</p>
			</li>
			<li>
				<p>
					<strong>IT Manager/Network Administrator:</strong> Garcia River Casino, 2014-2016
				</p>
				<p>
					The Garcia River Casino has six separate networks that must be isolated, yet need to share common resources – all of which is audited annually.
				</p>
				<p>
					I was also responsible for the restaurant point-of-sale system, Sage accounting, and the casino management system. I managed desktop computers, point-of-sale terminals, and taught myself to administer the VoIP phone system.
				</p>
			</li>
			<li>
				<p>
					<strong>Web/Intranet Developer:</strong> Warren County, NY, 2004-2014
				</p>
				<p>
					I was able to foster Warren County’s growth from a dozen-paged website to having several thousand documents and most departments represented on-line. Working with civil servants, politicians and community members, I made information and forms available that were previously only manually available.
				</p>
				<p>
					After moving to California, I stayed on as a remote consultant with the
					County for more than a year until they were able to find a suitable
					replacement.
				</p>
			</li>
		</ul>
		<aside>
			<p>
				The full details of my references have not been included to
				protect the privacy of my friends and colleagues, but are 
				available upon request.
			</p>
		</aside>
{% endblock %}

