{% extends "base.html" %}
{% block title %}Contact Me{% endblock %}
{% block content %}
		<header class="content-header">
			<h1>Contact Me</h1>
			<p>
				I accept questions, comments, or ASCII art postcards.
			</p>
		</header>
		<form method="post" action="/contact">
			{% csrf_token %}
			{% if form.non_field_errors|length %}
			<ul class="error">
				{% for error in form.non_field_errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			<p>
				{{ form.name.errors }}
				<label for="id_name">
					{{ form.name.label }}:<br>
					{{ form.name }}
				</label>
			</p>
			<p>
				{{ form.email.errors }}
				<label for="id_email">
					{{ form.email.label }}:<br>
					{{ form.email }}
				</label>
			</p>
			<p>
				{{ form.message.errors }}
				<label for="id_message">
					{{ form.message.label }}:<br>
					{{ form.message }}
				</label>
			</p>
			<p>
				{{ form.verify.errors }}
				<label for="id_verify">
					{{ form.verify.label }}:<br>
					{{ form.verify }}
				</label>
			</p>
			<p class="c">
				<input type="submit" value="Send Message">
			</p>
		</form>
		<aside>
			<h2>Alternates</h2>
			<p>
				I am also reachable via XMPP (windigo@xmpp.fragdev.com)	and accept
				encrypted emails using my <a href="/static/misc/windigo-public.asc"
				>public key</a> (<strong><code>0xDAECFD4CBCC76ED6</code></strong>).
			</p>
		</aside>
{% endblock %}
