{% extends "base.html" %}

{% block title %}Jacob Hume{% endblock %}

{% block content %}
		<header class="content-header">
			<h1>Jacob Hume</h1>
			<p>
				A web developer focused on progressive enhancement,
				usability, and <abbr title="free libre open source software">FLOSS</abbr> software
			</p>
		</header>
		<aside>
			<p>
				<strong>I'm currently looking for full-time employment or
				contract work.</strong>
				I live in the State of California, but I am mostly interested
				in remote job opportunities.
				Please feel free to <a href="{% url 'contact' %}">contact me</a>
				if you are looking for someone with my qualifications!
			</p>
		</aside>
		<h2>Skills</h2>
		<ul>
			<li>
				PHP and Python development, including the Django framework
			</li>
			<li>Git for version control and development</li>
			<li>MySQL/SQLite database design &amp; implementation</li>
			<li>HTML, CSS, and Javascript, applied with the principles of
				progressive enhancement and responsive design</li>
			<li>Apache/nginx Web Server installation &amp; administration</li>
		</ul>
		<h2>Work Experience</h2>
		<ul>
			<li>
				<strong>Freelance/Consulting:</strong> 2002 to Present
				<ul>
					<li>
						Creating custom responsive, usable, dynamic websites for
						a variety of clients, including:
						<a href="https://battlehillbrewing.com">Battle Hill
							Brewery</a>,
						<a href="https://valcielle.fragdev.com">Val'cielle</a> (web comic
						management system),
						<a href="https://lenasads.com">Lenas' Adult Day Service</a>
					</li>
					<li>
						Consulting with organizations to keep existing
						websites current and add new features as necessary.
						Examples:
						<a href="http://warrencountyny.gov">Warren County, NY</a>,
						<a href="http://warrenny200.org">Warren County Bicentennial</a>
					</li>
					<li>
						Hosting and server administration
					</li>
					<li>
						Providing network/systems administration and support
						services: <a href="http://www.searanchgetaway.com/">Sea
						Ranch Vacation Rentals</a>
					</li>
				</ul>
			</li>
			<li>
				<strong>Systems Administrator:</strong> Garcia River Casino,
				2013 to July 2016
				<ul>
					<li>
						Responsibilities: Manage network and server resources,
						workstations and any systems or software related 
						for business operations.
					</li>
				</ul>
			</li>
			<li>
				<strong>Web/Intranet Developer:</strong> Warren County, NY, 2004 to 2013
				<ul>
					<li>Responsibilities: Develop and maintain any and all internal and external County web
					sites, set up and secure web servers, handle help desk calls as needed</li>
					<li>Examples: <a href="http://warrencountyny.gov">Warren County, NY</a>, <a href=
					"http://warrenny200.org">Warren County Bicentennial</a>
				</ul>
			</li>
		</ul>
		<h2>Formal Education</h2>
		<ul>
			<li>AAS Information Systems - Networking, <a href="http://sunyacc.edu">SUNY Adirondack</a></li>
		</ul>
		<aside>
			<p>
				The full details of my references have not been included 
				to protect the privacy of
				my friends and colleagues, but are available upon request.
			</p>
		</aside>
{% endblock %}

