{% extends "base.html" %}

{% load static %}

{% block title %}Fragmented Development{% endblock %}

{% block head %}
	<link rel="openid2.provider" href="https://id.fragdev.com"/>
	<link rel="openid2.local_id" href="https://fragdev.com"/>
	<link rel="openid.server" href="https://id.fragdev.com"/>
	<link rel="openid.delegate" href="https://fragdev.com"/>
{% endblock %}

{% block content %}
		<section class="home-modules">

			{% if post %}
			<article>
				<h1>Latest Post</h1>
				<h2>
					<a href="{% url 'wiblog:post' post.slug %}">{{ post.title }}</a>
				</h2>
				{{ post.body }}
				<p>
					Read the full post: <a href=
					"{% url 'wiblog:post' post.slug %}">{{ post.title }}</a>
				</p>
			</article>
			{% endif %}

			<article>
				<h1>Current Project</h1>
				<h2><a href="http://battlehillbrewing.com/">Battle Hill
					Brewing Company</a></h2>
				<p class="home-thumbnail">
					<img src="{% static "/static/misc/battlehill-thumb.png" %}"
						width=125 height=125
						alt="A snapshot of the Battle Hill website">
				</p>
				<p>
					Family is important to me. When my Uncle, Jim Hume, decided to
					start a brewery and finally make a living doing what he loves,
					I was thrilled. When he asked me for some help with his website, I
					couldn't refuse!
				</p>
				<p>
					If you should happen to be in Fort Ann, New York, stop by the <a
						href="http://battlehillbrewing.com/">Battle Hill Brewing
						Company</a>, and pick up a pint.
				</p>
			</article>

			<article>
				<h1>Web Applications</h1>
				<p>
					I run the following <abbr title=
					"free, libre, open source software">FLOSS</abbr> software:
				</p>
				<ul>
					<li>
						<a href="https://micro.fragdev.com">GNUsocial</a>
					</li>
					<li>Mumble — (mumble.fragdev.net)</li>
					<li>
						<a href="https://cloud.fragdev.com">Owncloud</a>
					</li>
					<li>
						<a href="https://mail.fragdev.com">Roundcube</a>
					</li>
					<li>
						<a href="https://links.fragdev.com">SemanticScuttle</a>
					</li>
					<li>
						<a href="https://ttrss.fragdev.com">Tiny Tiny RSS</a>
					</li>
				</ul>
				<p>
					If you would like an account on any of these services, feel
					free to <a href="/contact">contact me</a>.
				</p>
			</article>

			<article>
				<h1>Platform</h1>
				<p>
					My servers run a host of underlying software that allows me to host sites
					and applications:
				</p>
				<ul class="home-software-list">
					<li>Debian GNU/Linux</li>
					<li>PHP</li>
					<li>Python</li>
					<li>Django</li>
					<li>Nginx</li>
					<li>OpenSSH</li>
					<li>MySQL</li>
					<li>Postfix</li>
					<li>Dovecot</li>
					<li>SpamAssassin</li>
					<li>SQLite</li>
				</ul>
			</article>

		</section>
{% endblock %}
