# Git ignore; I can't believe it's not butter.

# Database, if SQLite is used
db.sqlite

# No need to commit vim temp files or compiled python files!
*.pyc
*.swp

# Don't commit settings file; there is seeeecret stuff in there.
settings.py
