{% extends "base-wiblog.html" %}


{% block title %}Archive{% endblock %}


{% block content %}
		<h1>Ye Olde Archive</h1>
		{% if posts|length %}
		<p>
			If you're interested in some dusty, aged content, then you're in the
			right place! Here's a chronological listing of all of the blog posts
			to date.
		</p>
		<ul>
		{% for post in posts|dictsortreversed:"date" %}
			<li>{{ post.date|date:"Y-m-d" }}: <a href="{% url "wiblog:post" post.slug %}">{{ post.title }}</a></li>
		{% endfor %}
		</ul>
		{% else %}
		<p>
			It appears that there is no content to peruse at the moment! Not to
			worry, I'm sure that if you return later this page will be full of
			dusty posts that you can pick up and enjoy.
		</p>
		{% endif %}
{% endblock %}


{% block wiblog-ancillary %}
				<h1>History</h1>
				<p>
					This blog has gone through a couple different permutations. Originally
					a static blog that I wrote in plain HTML to learn the dvorak keyboard
					layout (still haven't, by the by), it was then transitioned to a
					LifeType blog.
				</p>
				<p>
					After it was clear that LifeType wasn't undergoing too much active
					development, and the comment spam became a little hard to handle, I
					disabled the lifetype blog and threw up a static PHP site sans-blog.
				</p>
				<p>
					The latest iteration was created in Django, mostly as an exercise to
					help me learn Django.
				</p>
{% endblock %}
