{% extends "base.html" %}


{% block title %}Blog{% endblock %}

{% block head %}
	<link href="{% url "wiblog:atom" %}" rel="alternate" type="application/atom+xml"
		title="Fragmented Development Blog (Atom)">
	<link href="{% url "wiblog:rss" %}" rel="alternate" type="application/rss+xml"
		title="Fragmented Development Blog (RSS)">
{% endblock %}

{% block content %}
			<h1>Fragmented Development</h1>
			<p>
				This is the blog of Jacob Hume, AKA Windigo. Its content should not be
				trusted, nor should it's author. Read at your own risk.
			</p>

			{% for post in posts %}
			<article>
				<header class="post-header">
					<h1 class="post-title">
						<a href="{% url "wiblog:post" slug=post.slug %}">{{ post.title }}</a>
					</h1>
					<p class="post-date">
						Posted on {{ post.date|date:"Y-m-d" }}
					</p>
				</header>
				{{ post.body }}
			</article>
			{% endfor %}

			<hr>
			<p>
				For a full list of posts, feel free to check out the <a
				href="{% url "wiblog:archive" %}">Archive</a>!
			</p>
{% endblock %}


{% block ancillary %}
				<h1>Navigation</h1>
				<ul class="blog-nav">
					<li>
					<a href="{% url "wiblog:archive" %}" class="blog-nav-icon"
						data-icon="📆">Archive</a>
					</li>
					<li>
					<a href="{% url "wiblog:tags" %}" class="blog-nav-icon"
						data-icon="">Tag Cloud</a>
					</li>
				</ul>
				{% block wiblog-ancillary %}
				{% endblock %}
{% endblock %}
