{% extends "base-wiblog.html" %}


{% block title %}Archive{% endblock %}


{% block content %}
		<header class="content-header">
			<h1>Ye Olde Archive</h1>
		</header>
		{% if posts|length %}
		<p>
			If you're interested in some dusty, aged content, then you're in the
			right place! Here's a chronological listing of all of the blog posts
			to date.
		</p>
		<ul>
		{% for post in posts|dictsortreversed:"date" %}
			<li>{{ post.date|date:"Y-m-d" }}: <a href="{% url "wiblog:post" post.slug %}">{{ post.title }}</a></li>
		{% endfor %}
		</ul>
		{% else %}
		<p>
			It appears that there is no content to peruse at the moment! Not to
			worry, I'm sure that if you return later this page will be full of
			dusty posts that you can pick up and enjoy.
		</p>
		{% endif %}
{% endblock %}
