{% extends "base-wiblog.html" %}


{% block title %}Archive{% endblock %}


{% block content %}
		<header class="content-header">
			{% include "partial-nav.html" %}
			<h1>Ye Olde Archive</h1>
			<p>
				A chronological listing of all of the blog posts to date.
			</p>
		</header>
		{% if posts|length %}

		{% regroup posts.all|dictsortreversed:"date.year" by date.year as yearPosts %}

		{% for year in yearPosts %}
		<h2>{{ year.grouper }}</h2>
		<ul>
			{% for post in year.list reversed %}
			<li>
				{{ post.date|date:"F jS" }}: <a href=
					"{% url "wiblog:post" post.slug %}">{{ post.formatted_title }}</a>
			</li>
			{% endfor %}
		</ul>
		{% endfor %}
		{% else %}
		<p>
			It appears that there is no content to peruse at the moment! Not to
			worry, I'm sure that if you return later this page will be full of
			dusty posts that you can pick up and enjoy.
		</p>
		{% endif %}
{% endblock %}
