{% extends "base-wiblog.html" %}


{% block title %}{{ post.title }}{% endblock %}


{% block content %}
		{% if form.is_valid %}
		<div class="info">
			<h2>Comment Saved</h2>
			<p>
				Hey, thanks for leaving me a comment. I have to moderate them to
				prevent getting spammed into oblivion, but it should appear shortly.
			</p>
		</div>
		{% endif %}
		<header class="content-header">
			{% include "partial-nav.html" %}
			<h1>{{ post.title }}</h1>
			{% if post.subtitle %}
			<p>
				{{ post.subtitle }}
			</p>
			{% endif %}
			<p class="post-date">
				Posted on {{ post.date|date:"Y-m-d" }}
				{% if post.updated > post.date %}
				(Updated on {{ post.updated|date:"Y-m-d" }})
				{% endif %}
			</p>
		</header>
		{{ post.formatted }}
		{% if post.tags.all %}
		<p>
			Tags:
			{% for tag in post.tags.all %}
				<a href="{% url "wiblog:tagged" tag %}">{{ tag }}</a>
			{% endfor %}
		</p>
		{% endif %}
		<hr>
		<h2>Comments</h2>
		{% for comment in post.comments.all %}
		<blockquote class="blog-comment">
			{{ comment.comment }}
			<p>
				<cite>
					{% firstof comment.name 'Anonymous' %}
					{% if comment.url %}
					 &ndash; {{ comment.url|urlize }}
					{% endif %}
				</cite>
			</p>
		</blockquote>
		{% endfor %}
		<h2 id="add-comment">Add Your Comment</h2>
		<form method="post" action="{% url "wiblog:comment" %}">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<p>
				{{ form.name.errors }}
				<label for="id_name">
					{{ form.name.label }}:<br>
					{{ form.name }}
				</label>
			</p>
			<p>
				{{ form.url.errors }}
				<label for="id_url">
					{{ form.url.label }}:<br>
					{{ form.url }}
				</label>
			</p>
			<p>
				{{ form.comment.errors }}
				<label for="id_comment">
					{{ form.comment.label }}:<br>
					{{ form.comment }}
				</label>
			</p>
			<p>
				{{ form.verify.errors }}
				<label for="id_verify">
					{{ form.verify.label }}:<br>
					{{ form.verify }}
				</label>
			</p>
			<p>
				<input type="submit" value="Make Comment">
			</p>
		</form>
{% endblock %}
