
from os.path import join


#################
# Common values #
#################

DOMAIN = 'example.com'
WEBROOT = '/path/to/virtualenv'
STATIC_ROOT = join(WEBROOT, 'srv/static')
MEDIA_ROOT = join(WEBROOT, 'srv/media')


#################


# Debug: should be False in production
DEBUG = True

# Site administrators
ADMINS = (
     ('Administrator', 'admin@{}'.format(DOMAIN)),
)


# Make this unique, and don't share it with anybody.
SECRET_KEY = ""

# Database connections
DATABASES = {
	# sqlite3
    "default": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": join(WEBROOT, "srv/db.sqlite"),
    }
	# MySQL
#    "default": {
#        "ENGINE": "django.db.backends.mysql",
#        "NAME": "database_name",
#        "USER": "database_user",
#        "PASSWORD": "password",
#        "HOST": "", # Set to empty string for localhost.
#        "PORT": "", # Set to empty string for default.
#    }
}

# Domains for public site
ALLOWED_HOSTS += [
	DOMAIN,
	".{}".format(DOMAIN)
]

# Timezones
TIME_ZONE = 'America/Los_Angeles'

# Contact script details
CONTACT_EMAIL = 'admin@{}'.format(DOMAIN)
CONTACT_SENDER= 'website@{}'.format(DOMAIN)
CONTACT_SUBJECT = 'Message from {}'.format(DOMAIN)

