{% extends "layout.html" %}
{% load static %}


{% block title %}Projects{% endblock %}


{% block head %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href=
		"{% static "projects/css/projects.css" %}">
	<style>
	{% for project in projects %}
		{% if project.thumbnail %}
		#{{ project.slug }} {
			background-image: url('{{ project.thumbnail.get_absolute_url }}');
		}
		{% endif %}
	{% endfor %}
	</style>
{% endblock %}


{% block content %}
		<header class="content-header">
			<h1>Projects</h1>
			<p>
				A collection of the various projects I've worked on.
			</p>
		</header>
		<p>
			A good majority of the coding I do is in public.
			I'm on <a href="https://gitlab.com/u/windigo">Gitlab</a>, or
			<a href="https://github.com/lo-windigo">GitHub</a> where I'll
			try to mirror my repositories for those who prefer that service.
		</p>
		<ul class="project-thumbnails">
		{% for project in projects %}
			<li id="{{ project.slug }}">
				<a class="project-thumbnail" href=
				"{% url "projects:project" project.slug %}">
				<span>{{ project.name }}</span></a>
			</li>
		{% endfor %}
		</ul>
{% endblock %}
