{% extends "base.html" %}
{% load static %}


{% block title %}{{ project.name }}{% endblock %}


{% block head %}
	<link rel="stylesheet" type="text/css" href=
		"{% static "projects/css/projects.css" %}">
{% endblock %}


{% block content %}
		<div class="project">
			<header class="content-header">
				<h1>{{ project.name }}</h1>
				{% if project.short_desc %}
				<p>
					{{ project.short_desc }}
				</p>
				{% endif %}
			</header>
			{% if project.thumbnail %}
			<figure class="project-image">
				<img src="{{ project.thumbnail.get_absolute_url }}"
					alt="A screenshot of {{ project.name }}">
			</figure>
			{% endif %}
			<dl class="project-meta">
				{% if project.status %}
					<dt>Status</dt>
					<dd>{{ project.get_status_display }}</dd>
				{% endif %}
				{% if project.license %}
					<dt>License</dt>
					<dd>{{ project.license }}</dd>
				{% endif %}
				{% if project.website %}
					<dt>Website</dt>
					<dd>
						<a href="{{ project.website }}">{{ project.website }}</a>
					</dd>
				{% endif %}
				{% if project.gitlab %}
					<dt>Gitlab</dt>
					<dd>
						<a href="{{ project.gitlab }}">{{ project.name }} on
						Gitlab</a>
					</dd>
				{% endif %}
				{% if project.github %}
					<dt>Github</dt>
					<dd>
						<a href="{{ project.github }}">{{ project.name }} on
						Github</a>
					</dd>
				{% endif %}
				{% if project.example %}
					<dt>Example</dt>
					<dd><a href="{{ project.example }}">{{ project.example }}</a></dd>
				{% endif %}
			</dl>
			{% if project.tags.all %}
			<p>
				Tags:
				{% for tag in project.tags.all %}
					<a href="{% url "project:tagged" tag %}">{{ tag }}</a>
				{% endfor %}
			</p>
			{% endif %}
			{% if project.desc %}
			<div class="project-details">
				{{ project.desc }}
			</div>
			{% endif %}
		</div>
{% endblock %}
