/*
	____________  ___  ___________ _____ _   _     ___  _   __
	|  ___| ___ \/ _ \|  __ \  _  \  ___| | | |   /   || | / /
	| |_  | |_/ / /_\ \ |  \/ | | | |__ | | | |  / /| || |/ / 
	|  _| |    /|  _  | | __| | | |  __|| | | | / /_| ||    \ 
	| |   | |\ \| | | | |_\ \ |/ /| |___\ \_/ / \___  || |\  \
	\_|   \_| \_\_| |_/\____/___/ \____/ \___/      |_/\_| \_/

by Windigo - http://fragdev.com
/*============================================================*/


/* -=== Font Definitions ===- */
@font-face
{
	font-family: DroidSans;
	src:	url('/fonts/DroidSans-webfont.woff') format('woff'),
			url('/fonts/DroidSans-webfont.ttf') format('truetype');
	font-weight: normal;
}

@font-face
{
	font-family: DroidSans;
	src:	url('/fonts/DroidSans-Bold-webfont.woff') format('woff'),
			url('/fonts/DroidSans-Bold-webfont.ttf') format('truetype');
	font-weight: bold;
}

@font-face
{
	font-family: Foundation;
	src:	url('/fonts/foundicons.woff') format('woff'),
			url('/fonts/foundicons.ttf') format('truetype');
	font-weight: normal;
}


/* -=== Base ===- */

a
{
	color: #f0c674;
}

a:active,
a:hover,
a:focus
{
	color: #e7c547; 
}

body
{
	background: #000;
	background: rgba(0,0,0,.5);
	background: transparent linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.8)) no-repeat scroll 0 0;
	border-radius: .5em;
	box-shadow:
		0 0 2em -.25em #000,
		inset 0 0 6em #000;
	margin: 0 auto 3em auto;
	max-width: 58em;
	padding: 0 1% 1px 1%;
	position: relative;
}

dt
{
	font-size: 1.2em;
}

dd
{
	margin: .5em 0 1em 0;
	padding: 0;
}

h1
{
	color: #fff;
}

html
{
	background:
		radial-gradient(#0b0b0b 15%, transparent 16%) 0 0,
		radial-gradient(#0b0b0b 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#1d1f21;
	background-size:16px 16px;
	color: #c5c8c6;
	font-family: 'DroidSans', sans-serif;
	line-height: 1.1;
	overflow-x: hidden;
}

input,textarea
{
	background: #c5c8c6;
	border: 1px solid #000;
	width: 100%;
}

textarea
{
	height: 4em;
}


/* -=== Layout ===- */

.page-ancillary
{
	border-bottom-left-radius: 50% 1em;
	border-bottom-right-radius: 50% 1em;
	float: right;
	padding: 0 1%;
	width: 28%;
}

.page-ancillary em,
.page-ancillary q
{
	font-weight: bold;
}

.page-ancillary,
.page-ancillary h1
{
	color: #ffeead;
}

.page-ancillary figure,
.page-ancillary figcaption
{
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}

.page-ancillary,
.page-header,
.page-footer::before
{
	background: #373b41; 
	box-shadow: 0 .5em .51em #000;
	position: relative;
	z-index: 24;
}

.page-content
{
	float: left;
	width: 69%;
}

.page-footer::before
{
	content: " ";
	display: block;
	height: 1em;
}

.page-footer
{
	clear: both;
	font-style: italic;
	padding: 1em 0;
}

.page-footer,
.page-footer a
{
	color: #373b41;
}

.page-header
{
	background-size: 30px 30px; 
	background-position: 10% 80%;
	padding: .5em 0;
}

.page-header::after
{
	clear: both;
	content: "";
	display: block;
}


/* -=== Module ===- */

/* Centered */
.c
{
	text-align: center;
}

/* Form errors */
.errorlist
{
	color: #f00;
	font-style: italic;
}

/* FragDev Badge */
.fd-badge
{
	background: #000;
	border-radius: .5em;
	box-shadow: 0 2px .25em #111;
	float: left;
	line-height: 1;
	margin: 0;
	padding: .5em;
	transition: all .5s;
}

.fd-badge a
{
	color: #d54e53;
	font-size: 1.5em;
	text-decoration: none;
}

.fd-badge a span
{
	color: #e7c547;
}

/* Full width bar (also appears before page footer) */
.full-width,
.page-footer::before
{
	margin-left: -999em;
	margin-right: -999em;
	padding-left: 999em;
	padding-right: 999em;
	width: 100%;
}

/* Main navigation */
.main-nav
{
	text-align: right;
	line-height: 1;
	max-width: 58em; 
}

.main-nav li
{
	display: inline-block;
	line-height: 1.25;
	list-style: none;
	margin: -.5em 0 0 1%;
	text-align: center;
	width: 9%;
}

.main-nav ul
{
	display: inline;
	margin: 0;
	padding: 0;
	text-align: right;
	width: 100%;
}

/* Navigation item - icon */
.nav-icon
{
	color: #ffeead;
	text-decoration: none;
	text-shadow: 0 2px .25em #000;
	transition: all .2s;
}

.nav-icon::before
{
	content: attr(data-icon);
	display: block;
	font-family: 'Foundation';
	font-size: 2em;
	padding-top: .25em;
}

/* Skip Links */
.skip a
{
	left: 0;
	position: absolute;
	top: -999em;
}


/* -=== State ===- */

.fd-badge:hover
{
	box-shadow: 0 0 .3em #e7c547;
}

.nav-icon:active,
.nav-icon:focus,
.nav-icon:hover
{
	color: #fff;
	outline: none;
	text-shadow: 0 0 .3em #e7c547;
}

.skip a:focus
{
	top: 0;
}


/* -=== Responsive ===- */

@media screen and (max-width: 48em)
{
	body
	{
		margin-bottom: 0;
	}

	.page-ancillary,
	.page-content
	{
		float: none;
		width: auto;
	}

	.page-ancillary
	{
		border-top-left-radius: 50% 1em;
		border-top-right-radius: 50% 1em;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		margin-left: -1%;
		margin-right:-1%; 
		padding-bottom: .25em;
		padding-top: .25em;
	}

	.page-footer::before
	{
		display: none;
	}

	.fd-badge
	{
		border-radius: .25em;
		padding: .25em;
	}

	.main-nav li
	{
		display: inline-block;
		line-height: 1.25;
		list-style: none;
		margin: 0 1em 0 0;
		text-align: center;
		width: 3em;
	}

	.nav-icon
	{
		font-size: .8em;
	}

	.nav-icon::before
	{
		font-size: 2.4em;
		padding-top: 0;
	}
}

@media screen and (max-width: 34em)
{
	.fd-badge
	{
		margin-bottom: .5em;
		display: inline-block;
	}

	.fd-badge,
	.main-nav
	{
		float: none;
		margin: 0 auto;
	}

	.main-nav
	{
		margin-top: .5em;
	}

	.main-nav li
	{
		margin-right: .5em;
	}

	.main-nav ul
	{
		margin-left: .5em;
	}

	.main-nav,
	.page-header
	{
		text-align: center;
	}
}
